# Dependencies
node_modules/
*/node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example
server/.env

# Production builds
dist/
client/dist/

# Logs & temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db

# Database files
*.db
*.db-journal
server/prisma/*.db

# IDE & Editor folders
.vscode/
.idea/
